<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
     <nav>
            <div class="logo">
                <a href="index.html">Thomas Nijhuis</a>
            </div>
            <ul class="nav-links">
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
</header>

<main>
    <section class="blog-post">
        <div class="container">
            {{content}}
        </div>
    </section>
</main>

<footer>
    <p>© 2026 Thomas Nijhuis</p>
</footer>

</body>
</html>